---
apiVersion: v1
kind: Secret
metadata:
  name: thanos-objstore-config
  namespace: kube-prometheus-stack
type: Opaque
stringData:
  objstore.yml: |
    type: S3
    config:
      bucket: prometheus
      endpoint: minio.minio-tenant.svc.cluster.local:80
      access_key: admin
      secret_key: Password123
      insecure: true
      signature_version2: false
      http_config:
        idle_conn_timeout: 90s
        response_header_timeout: 2m
        insecure_skip_verify: false
