---
- name: "[DNS] Download binary"
  get_url:
    url: "{{ item.url }}"
    dest: "{{ item.dest }}"
    mode: u=rw,g=r,o=r
  with_items:
    - {
        url: "https://github.com/coredns/coredns/releases/download/v{{ genv.dns.coredns.version }}/coredns_{{ genv.dns.coredns.version }}_linux_amd64.tgz",
        dest: "/tmp/coredns_{{ genv.dns.coredns.version }}_linux_amd64.tgz",
      }
    - {
        url: "https://github.com/etcd-io/etcd/releases/download/v{{ genv.dns.etcd.version }}/etcd-v{{ genv.dns.etcd.version }}-linux-amd64.tar.gz",
        dest: "/tmp/etcd-v{{ genv.dns.etcd.version }}-linux-amd64.tar.gz",
      }

- name: "[DNS] Extract binary to /tmp"
  unarchive:
    src: "{{ item }}"
    dest: /tmp/
    remote_src: true
  with_items:
    - "/tmp/coredns_{{ genv.dns.coredns.version }}_linux_amd64.tgz"
    - "/tmp/etcd-v{{ genv.dns.etcd.version }}-linux-amd64.tar.gz"

- name: "[DNS] Copy binary to /usr/local/bin"
  copy:
    src: "{{ item }}"
    dest: /usr/local/bin/
    mode: u=rw,g=r,o=r
    remote_src: true
  with_items:
    - "/tmp/coredns"
    - "/tmp/etcd-v{{ genv.dns.etcd.version }}-linux-amd64/etcd"
    - "/tmp/etcd-v{{ genv.dns.etcd.version }}-linux-amd64/etcdctl"

- name: "[DNS] Ensure binary is executable"
  file:
    path: "{{ item }}"
    mode: u=rwx,g=rx,o=rx
    state: file
  with_items:
    - "/usr/local/bin/coredns"
    - "/usr/local/bin/etcd"
    - "/usr/local/bin/etcdctl"

- name: "[DNS] Create directory"
  file:
    path: "{{ item }}"
    state: directory
    mode: u=rwx,g=rx,o=rx
  with_items:
    - "/etc/coredns"
    - "/var/log/coredns"
    - "/var/log/etcd"
    - "/var/lib/etcd"

- name: "[DNS] Copy Corefile"
  template:
    src: "coredns/templates/Corefile.toml.j2"
    dest: /etc/coredns/Corefile
    owner: root
    group: root
    mode: u=rw,g=r,o=r

- name: "[DNS] Copy coredns logrotate"
  copy:
    src: "coredns/files/logrotate.d/coredns"
    dest: /etc/logrotate.d/coredns
    owner: root
    group: root
    mode: u=rw,g=r,o=r

- name: "[DNS] Copy etcd logrotate"
  copy:
    src: "coredns/files/logrotate.d/etcd"
    dest: /etc/logrotate.d/etcd
    owner: root
    group: root
    mode: u=rw,g=r,o=r

- name: "[DNS] Copy coredns.service"
  copy:
    src: "coredns/files/systemd/coredns.service"
    dest: /usr/lib/systemd/system/coredns.service
    owner: root
    group: root
    mode: u=rw,g=r,o=r

- name: "[DNS] Copy etcd.service"
  template:
    src: "coredns/templates/etcd.service.j2"
    dest: /usr/lib/systemd/system/etcd.service
    owner: root
    group: root
    mode: u=rw,g=r,o=r

- name: "[DNS] Remove resolv.conf"
  file:
    path: /etc/resolv.conf
    state: absent

- name: "[DNS] Create static resolv.conf"
  copy:
    content: |
      nameserver 127.0.0.1
    dest: /etc/resolv.conf
    owner: root
    group: root
    mode: u=rw,g=r,o=r

- name: "[DNS] Stop systemd-resolved service"
  systemd:
    name: systemd-resolved
    state: stopped
    enabled: false
    daemon_reload: true

- name: "[DNS] Start coredns service"
  systemd:
    name: coredns
    state: started
    enabled: true
    daemon_reload: true

- name: "[DNS] Start etcd service"
  systemd:
    name: etcd
    state: started
    enabled: true
    daemon_reload: true

- name: "[DNS] Wait for etcd to be ready"
  wait_for:
    host: localhost
    port: 2379
    delay: 2
    timeout: 30

- name: "[DNS] Register service DNS records in etcd"
  shell: |
    /usr/local/bin/etcdctl put /skydns/local/k8s/{{ item.name }}/x{{ idx }} '{"host":"{{ item.host }}"}'
  loop:
    - { name: "dns", host: "{{ hostvars[groups['proxy'][0]]['ansible_host'] }}" }
    - { name: "proxy", host: "{{ hostvars[groups['proxy'][0]]['ansible_host'] }}" }
    - { name: "keycloak", host: "{{ hostvars[groups['proxy'][0]]['ansible_host'] }}" }
  loop_control:
    index_var: idx
  when: inventory_hostname == groups['dns'][0]
  changed_when: false
