---
- name: Generate CoreDNS ConfigMap on local
  delegate_to: localhost
  become: false
  template:
    src: coredns-cm.yaml.j2
    dest: output/kubernetes/coredns-cm.yaml
    mode: u=rw,g=r,o=r

- name: Generate CoreDNS Deployment patch on local
  delegate_to: localhost
  become: false
  template:
    src: coredns-deployment-patch.yaml.j2
    dest: output/kubernetes/coredns-deployment-patch.yaml
    mode: u=rw,g=r,o=r

- name: Wait for etcd pods to be ready
  delegate_to: localhost
  become: false
  command: >
    kubectl --kubeconfig=output/kubernetes/admin.conf wait
    --for=condition=Ready
    pod -l component=etcd
    -n kube-system

- name: Apply CoreDNS ConfigMap
  delegate_to: localhost
  become: false
  command: kubectl --kubeconfig=output/kubernetes/admin.conf apply -f output/kubernetes/coredns-cm.yaml

- name: Patch CoreDNS Deployment with hostPath volume
  delegate_to: localhost
  become: false
  command: >
    kubectl --kubeconfig=output/kubernetes/admin.conf patch deployment coredns
    -n kube-system
    --patch-file output/kubernetes/coredns-deployment-patch.yaml

- name: Display CoreDNS status
  debug:
    msg: "CoreDNS has been configured to read /etc/hosts from nodes"
