repositories:
  - name: jetstack
    url: https://charts.jetstack.io

helmDefaults:
  createNamespace: true
  wait: true
  timeout: 600

## Document separator to satisfy Helmfile:
---
namespace: cert-manager

releases:
  - name: cert-manager
    chart: jetstack/cert-manager
    version: v1.19.1
    values:
      - values/cert-manager.yaml
