[Unit]
Description=rclone gdrive mount
AssertPathIsDirectory=/mnt/gdrive
After=networking.service

[Service]
Type=simple
ExecStart=rclone mount gdrive: /mnt/gdrive --config=/root/.config/rclone/rclone.conf --drive-use-trash=false --transfers 16 --checkers 8 --tpslimit 100 --allow-other --cache-db-purge --allow-non-empty
Restart=always
RestartSec=10

[Install]
WantedBy=default.target
