---
# Default TLS Store for Traefik to use wildcard certificate
apiVersion: traefik.io/v1alpha1
kind: TLSStore
metadata:
  name: default
spec:
  defaultCertificate:
    secretName: wildcard-k8s-local-tls
