#---------------------------------------------------------------------
# Example configuration for a possible web application.  See the
# full configuration options online.
#
#   https://www.haproxy.org/download/1.8/doc/configuration.txt
#
#---------------------------------------------------------------------

#---------------------------------------------------------------------
# Global settings
#---------------------------------------------------------------------
global
    # to have these messages end up in /var/log/haproxy.log you will
    # need to:
    #
    # 1) configure syslog to accept network log events.  This is done
    #    by adding the '-r' option to the SYSLOGD_OPTIONS in
    #    /etc/sysconfig/syslog
    #
    # 2) configure local2 events to go to the /var/log/haproxy.log
    #   file. A line like the following can be added to
    #   /etc/sysconfig/syslog
    #
    #    local2.*                       /var/log/haproxy.log
    #
    log         127.0.0.1 local2

    chroot      /var/lib/haproxy
    maxconn     4000
    user        haproxy
    group       haproxy
    daemon

    # turn on stats unix socket
    stats socket /var/lib/haproxy/stats

    # utilize system-wide crypto-policies
    ssl-default-bind-ciphers PROFILE=SYSTEM
    ssl-default-server-ciphers PROFILE=SYSTEM

#---------------------------------------------------------------------
# common defaults that all the 'listen' and 'backend' sections will
# use if not designated in their block
#---------------------------------------------------------------------
defaults
    log                     global
    option                  httplog
    option                  dontlognull
    timeout connect         5000
    timeout client          50000
    timeout server          50000

#---------------------------------------------------------------------
# main frontend which proxys to the backends
#---------------------------------------------------------------------
frontend kube-apiserver
    bind               *:6443
    mode               tcp
    option             tcplog
    default_backend    kube-apiserver

#---------------------------------------------------------------------
# round robin balancing between the various backends
#---------------------------------------------------------------------
backend kube-apiserver
    mode        tcp
    option      tcp-check
    balance     roundrobin
    default-server inter 10s downinter 5s rise 2 fall 2 slowstart 60s maxconn 250 maxqueue 256 weight 100
{% for host in groups['cluster'] %}
    server  {{ host }} {{ hostvars[host]['ansible_host'] }}:6443 check
{% endfor %}

#---------------------------------------------------------------------
# etcd Load Balancing (TCP)
#---------------------------------------------------------------------
frontend etcd-tcp
    bind               *:2379
    mode               tcp
    option             tcplog
    default_backend    etcd-servers

backend etcd-servers
    mode        tcp
    option      tcp-check
    balance     roundrobin
    default-server inter 10s downinter 5s rise 2 fall 2
{% for host in groups['dns'] %}
    server  {{ host }} {{ hostvars[host]['ansible_host'] }}:2379 check
{% endfor %}

#---------------------------------------------------------------------
# DNS Load Balancing (TCP)
#---------------------------------------------------------------------
frontend dns-tcp
    bind               *:53
    mode               tcp
    option             tcplog
    default_backend    dns-servers-tcp

backend dns-servers-tcp
    mode        tcp
    option      tcp-check
    balance     roundrobin
    default-server inter 10s downinter 5s rise 2 fall 2
{% for host in groups['dns'] %}
    server  {{ host }} {{ hostvars[host]['ansible_host'] }}:53 check
{% endfor %}

#---------------------------------------------------------------------
# Keycloak Load Balancing (HTTP)
#---------------------------------------------------------------------
frontend keycloak-http
    bind               *:8080
    mode               http
    option             httplog
    default_backend    keycloak-servers

backend keycloak-servers
    mode        http
    balance     roundrobin
    option      httpchk GET /health/ready
    default-server inter 10s downinter 5s rise 2 fall 2
{% for host in groups['keycloak'] %}
    server  {{ host }} {{ hostvars[host]['ansible_host'] }}:8080 check
{% endfor %}
