repositories:
  - name: traefik
    url: https://traefik.github.io/charts

helmDefaults:
  createNamespace: true
  wait: true
  timeout: 600

## Document separator to satisfy Helmfile:
---
namespace: traefik

releases:
  - name: traefik
    chart: traefik/traefik
    version: 37.4.0
    values:
      - values/traefik.yaml
