---
- name: Copy join command to worker-node
  copy:
    src: ./output/kubernetes/join_command.txt
    dest: /tmp/
    mode: u=rw,g=r,o=r

- name: Join cluster
  shell: "cat /tmp/join_command.txt | bash"
