---
- name: Check if /dev/vdb has a filesystem
  command: blkid /dev/vdb
  register: vdb_blkid
  failed_when: false

- name: Create xfs filesystem on /dev/vdb
  when: vdb_blkid.rc != 0
  filesystem:
    fstype: xfs
    dev: /dev/vdb

- name: Get UUID of /dev/vdb
  command: blkid -s UUID -o value /dev/vdb
  register: vdb_uuid

- name: Create /mnt/longhorn directory
  file:
    path: /mnt/longhorn
    state: directory
    mode: "0755"
    owner: root
    group: root

- name: Add /dev/vdb to fstab
  mount:
    path: /mnt/longhorn
    src: "UUID={{ vdb_uuid.stdout }}"
    fstype: xfs
    opts: defaults
    state: mounted

- name: Copy join command to worker-node
  copy:
    src: ./output/kubernetes/join_command.txt
    dest: /tmp/
    mode: u=rw,g=r,o=r

- name: Join cluster
  shell: set -o pipefail && cat /tmp/join_command.txt | bash
  args:
    executable: /bin/bash
