---
- name: Check if /dev/vdb is already a PV
  command: pvs /dev/vdb
  register: vdb_pvs
  failed_when: false

- name: Create LVM physical volume on /dev/vdb
  when: vdb_pvs.rc != 0
  command: pvcreate /dev/vdb

- name: Create LVM volume group
  lvg:
    vg: vg_longhorn
    pvs: /dev/vdb

- name: Create LVM logical volume (use 100% of VG)
  lvol:
    vg: vg_longhorn
    lv: lv_longhorn
    size: 100%VG

- name: Create xfs filesystem on LV
  filesystem:
    fstype: xfs
    dev: /dev/vg_longhorn/lv_longhorn

- name: Create /mnt/longhorn directory
  file:
    path: /mnt/longhorn
    state: directory
    mode: "0755"
    owner: root
    group: root

- name: Mount LV to /mnt/longhorn
  mount:
    path: /mnt/longhorn
    src: /dev/vg_longhorn/lv_longhorn
    fstype: xfs
    opts: defaults
    state: mounted

- name: Copy join command to worker-node
  copy:
    src: ./output/kubernetes/join_command.txt
    dest: /tmp/
    mode: u=rw,g=r,o=r

- name: Join cluster
  shell: set -o pipefail && cat /tmp/join_command.txt | bash
  args:
    executable: /bin/bash
