apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: cleanup
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://github.com/tier940/homelab.git
    targetRevision: main
    path: kubernetes/manifests/application/cleanup
  destination:
    server: https://kubernetes.default.svc
    namespace: default
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
