---
- name: Upgrade Kubernetes control plane (first node)
  hosts:
    - cluster[0]
  become: true
  serial: 1
  roles:
    - 03-kubernetes/90-upgrade/control-plane-first

- name: Upgrade Kubernetes control plane (remaining nodes)
  hosts:
    - cluster[1:]
  become: true
  serial: 1
  roles:
    - 03-kubernetes/90-upgrade/control-plane-others

- name: Upgrade Kubernetes worker nodes
  hosts:
    - worker
  become: true
  serial: 1
  roles:
    - 03-kubernetes/90-upgrade/worker-nodes

- name: Post-installation configuration
  hosts:
    - cluster[0]
  become: false
  roles:
    - 03-kubernetes/05-post
