repositories:
  - name: prometheus-community
    url: https://prometheus-community.github.io/helm-charts
  - name: grafana
    url: https://grafana.github.io/helm-charts

helmDefaults:
  createNamespace: true
  wait: true
  timeout: 600

## Document separator to satisfy Helmfile:
---
namespace: kube-prometheus-stack

releases:
  - name: kube-prometheus-stack
    chart: prometheus-community/kube-prometheus-stack
    version: 79.9.0
    values:
      - values/kube-prometheus-stack.yaml

  - name: loki
    chart: grafana/loki
    version: 6.46.0
    values:
      - values/loki.yaml
