---
- name: Restart CRI-O
  ansible.builtin.systemd:
    name: crio
    state: restarted
    daemon_reload: true

- name: Restart kubelet
  ansible.builtin.systemd:
    name: kubelet
    state: restarted
    daemon_reload: true
